nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1 {
    margin: 20px 0px;
  } a {
    color: black;
  }
  .nav-action-links {
    a {
      font-size: small;
      border-bottom: none;
      margin-left: 10px;
    }
    span {
      font-size: small;
      margin-left: 10px;
    }
  }
}