#post {
  height: calc(70vh - 60px);
  border: none;
  padding: 0px;
  font-size: x-large;
  resize: none;
  &:focus {
    outline: none;
  }
}

.new-post-form {
  display: flex;
  flex-direction: column;
}

.save-btn {
  width: 100px;
  height: 50px;
}

// @media only screen and (min-width: 600px) {
//   .save-btn {
//     display: none;
//   }
// }